<nav class="navbar navbar-expand-sm navbar-light bg-light" th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img style="max-width: 75px;" class="img-fluid" th:src="@{/images/navy_manager_logo.jpg}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li th:if="${homePage} != null">
                    <h2>Welcome to Navy Manager!</h2>
                </li>
                <li th:if="${addUrl} != null" class="nav-item">
                    <a class="btn btn-primary"   th:href="@{${listUrl}}"><span th:text="${entityName} + ' Home'"></span></a>
                </li>
                <li th:if="${addUrl} != null" class="nav-item">
                    <a class="btn btn-secondary" th:href="@{${addUrl}}">Add New <span th:text="${entityName}"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>