<!-- Sidebar-->
<div class="col-3 d-none d-md-block d-lg-block" th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">
    <div class="list-group">
        <div class="header-side list-group-item-dark p-3" >Categories</div>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Countries</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Ranks</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Officers</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Hull Classifications</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Guns</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Ship Classes</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Ships</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Fleets</a>
    </div>
</div>