<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Countries')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Country', listUrl = '/country/show-list-page')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Country')"></div>
        <div class="col">
            <h2 th:text="${add == false ? 'Update Country' : 'Add New Country'}"></h2>
            <form id="countryForm" th:object="${country}" novalidate>
                <input name="url" type="hidden" th:value="${add} == true ? '/country' : '/country/' + ${country.id}">
                <input name="add" type="hidden"  th:value="${add}">
                <input id="id" type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>
                <button type="submit" class="btn btn-primary" th:text="${add == false ? 'Update' : 'Submit'}">Submit
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    $("#countryForm").submit(function (e) {
        ajaxFormSubmit(e, '#countryForm');
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>