<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Countries')"></div>
<body>

<div th:replace="fragments/menu :: menu (entityName = 'Country', listUrl = '/country-mvc', addUrl='/country-mvc/add')"></div>
<h2 style="font-weight: bold;text-align:center;" th:text="${add == false ? 'Update Country' : 'Add New Country'}"></h2>
<div class="container">

  <form action="#" th:action="${add} == true ? @{/country-mvc/add} : @{/country-mvc/update/{id}(id=${country.id})}" th:object="${country}" method="post" novalidate>
    <input name="add" type="hidden" th:value="${add}">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" th:field="*{name}">
      <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <!--<div th:if="${create} == false" class="form-group">
      <label for="status">Status</label>
      <select id="status" name="status">
        <option th:each="statusOpt : ${valid_status_values}"
                th:value="${statusOpt}" th:text="${statusOpt}"
                th:selected="${userStory.status == statusOpt}"></option>
      </select>
      <span class="validationError" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
      <div class="validationError" th:if="${#fields.detailedErrors('statusValid') != null}" th:each="err : ${#fields.detailedErrors('statusValid')}" th:text="${err.getMessage()}"></div>
    </div>-->
    <button type="submit" class="btn btn-primary" th:text="${add == false ? 'Update' : 'Submit'}">Submit</button>
  </form>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>