<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Countries')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Country', listUrl = '/country')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Country')"></div>
        <div class="col">
            <h2><span th:text="${country.name} + ' - Details'"></span></h2>
            <table class="table table-bordered text-center">
                <thead class="table-dark">
                <tr>
                    <th sec:authorize="hasRole('ADMIN')"  scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th sec:authorize="hasRole('ADMIN')" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${country}">
                    <td sec:authorize="hasRole('ADMIN')" th:text="${country.id}"></td>
                    <td th:text="${country.name}"></td>
                    <td sec:authorize="hasRole('ADMIN')"  class="text-center">
                        <a th:href="@{/country/{id}/show-update-form(id=${country.id})}" class="btn btn-link"><i
                                class="fa-solid fa-pen-to-square"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>