<!DOCTYPE html>
<html lang="en">

<div th:replace="fragments/header :: header (title='Navy Manager - Countries')"></div>
<body>

<div th:replace="fragments/menu :: menu (entityName = 'Country', addUrl = '/country/show-add-form', listUrl = '/country')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Country')"></div>
        <div class="col">
            <h2 style="font-weight: bold;text-align:center;">List of Countries</h2>
            <table class="table table-bordered table-hover text-center">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="country: ${countries}">
                    <td th:text="${country.id}"></td>
                    <td th:text="${country.name}"></td>
                    <td class="text-center">
                        <button th:onclick="'showDialog(\'dialog-delete\',\'Delete country?\',\'/country/'+${country.id}+'\',\'DELETE\');event.stopPropagation();'"
                                class="btn btn-link"><i class="fa fa-trash"></i></button>
                        <a th:href="@{/country/{id}/show-update-form(id=${country.id})}" class="btn btn-link"><i
                                class="fa-solid fa-pen-to-square"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="dialog-delete"></div>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>