<!DOCTYPE html>
<html lang="en">

<div th:replace="fragments/header :: header (title='Navy Manager - Countries')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Country', listUrl = '/country')"></div>
<h2 style="font-weight: bold;text-align:center;"><span th:text="${country.name} + ' - Details'"></span></h2>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${country}">
            <td th:text="${country.id}"></td>
            <td th:text="${country.name}"></td>
            <td class="text-center">
                <a th:href="@{/country/{id}/show-update-form(id=${country.id})}" class="btn btn-link"><i class="fa-solid fa-pen-to-square"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>