<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Fleets')"></div>
<body>

<div th:replace="fragments/menu :: menu (entityName = 'Fleet', listUrl = '/fleet-mvc', createUrl='/fleet-mvc/create')"></div>
<h2 style="font-weight: bold;text-align:center;" th:text="${create == false ? 'Update Fleet' : 'Create New Fleet'}"></h2>
<div class="container">
  <form action="#" th:action="${create} == true ? @{/fleet-mvc/create} : @{/fleet-mvc/update/{id}(id=${fleet.id})}" th:object="${fleet}" method="post" novalidate>
    <input type="hidden" id="id" th:field="*{id}">
    <div class="form-group">
      <label for="designation">Designation</label>
      <input type="text" class="form-control" id="designation" th:field="*{designation}">
      <span class="validationError" th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}"></span>
    </div>
    <div class="form-group">
      <label for="minimumRank">Minimum rank required</label>
      <select id="minimumRank" name="minimumRank">
        <option th:if="${fleet.minimumRank} != null" th:each="rankOpt : ${validRankValues}"
                th:value="${rankOpt.precedence}" th:text="${rankOpt.designation}"
                th:selected="${fleet.minimumRank.precedence == rankOpt.precedence}"></option>
        <option th:unless="${fleet.minimumRank} != null" th:each="rankOpt : ${validRankValues}"
                th:value="${rankOpt.precedence}" th:text="${rankOpt.designation}"></option>
      </select>
      <span class="validationError" th:if="${#fields.hasErrors('minimumRank')}" th:errors="*{minimumRank}"></span>
      <!--<div class="validationError" th:if="${#fields.detailedErrors('rankValid') != null}" th:each="err : ${#fields.detailedErrors('rankValid')}" th:text="${err.getMessage()}"></div>-->
    </div>
    <div class="form-group">
      <label for="commander">Commander</label>
      <select id="commander" name="commander">
        <option th:if="${fleet.commander} != null" th:each="commanderOpt : ${validCommanderValues}"
                th:value="${commanderOpt.id}" th:text="${commanderOpt.name}"
                th:selected="${fleet.commander.id == commanderOpt.id}"></option>
        <option th:unless="${fleet.commander} != null" th:each="commanderOpt : ${validCommanderValues}"
                th:value="${commanderOpt.id}" th:text="${commanderOpt.name}"></option>
      </select>
      <span class="validationError" th:if="${#fields.hasErrors('commander')}" th:errors="*{commander}"></span>
      <!--<div class="validationError" th:if="${#fields.detailedErrors('rankValid') != null}" th:each="err : ${#fields.detailedErrors('rankValid')}" th:text="${err.getMessage()}"></div>-->
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <select id="country" name="country">
        <option th:if="${fleet.country} != null" th:each="countryOpt : ${validCountryValues}"
                th:value="${countryOpt.id}" th:text="${countryOpt.name}"
                th:selected="${fleet.country.id == countryOpt.id}"></option>
        <option th:unless="${fleet.country} != null" th:each="countryOpt : ${validCountryValues}"
                th:value="${countryOpt.id}" th:text="${countryOpt.name}"></option>
      </select>
      <span class="validationError" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
      <!--<div class="validationError" th:if="${#fields.detailedErrors('countryValid') != null}" th:each="err : ${#fields.detailedErrors('countryValid')}" th:text="${err.getMessage()}"></div>-->
    </div>
    <!--<div th:if="${create} == false" class="form-group">
      <label for="status">Status</label>
      <select id="status" name="status">
        <option th:each="statusOpt : ${valid_status_values}"
                th:value="${statusOpt}" th:text="${statusOpt}"
                th:selected="${userStory.status == statusOpt}"></option>
      </select>
      <span class="validationError" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
      <div class="validationError" th:if="${#fields.detailedErrors('statusValid') != null}" th:each="err : ${#fields.detailedErrors('statusValid')}" th:text="${err.getMessage()}"></div>
    </div>-->
    <button type="submit" class="btn btn-primary" th:text="${create == false ? 'Update' : 'Submit'}">Submit</button>
  </form>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>