<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Fleets')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Fleet', listUrl = '/fleet')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Fleet')"></div>
        <div class="col">
            <h2 th:text="${add == false ? 'Update Fleet' : 'Add New Fleet'}"></h2>
            <form id="fleetForm" th:object="${fleet}" novalidate>
                <input name="url" type="hidden" th:value="${add} == true ? '/fleet' : '/fleet/' + ${fleet.id}">
                <input name="add" type="hidden" th:value="${add}">
                <input id="id" type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="designation">Designation</label>
                    <input type="text" class="form-control" id="designation" th:field="*{designation}">
                </div>
                <div class="form-group">
                    <label for="minimumRank">Minimum rank required</label>
                    <select id="minimumRank" th:field="*{minimumRank}">
                        <option th:if="${fleet.minimumRank} != null" th:each="rankOpt : ${validRankValues}"
                                th:value="${rankOpt.id}" th:text="${rankOpt.designation}"
                                th:selected="${fleet.minimumRank.id == rankOpt.id}"></option>
                        <option th:unless="${fleet.minimumRank} != null" th:each="rankOpt : ${validRankValues}"
                                th:value="${rankOpt.id}" th:text="${rankOpt.designation}"></option>
                    </select>
                </div>
                <div th:if="${#lists.size(validCommanderValues) == 0} and ${fleet.commander} == null"
                     th:class="'text-danger'">No assignable officer found.
                </div>
                <div th:unless="${#lists.size(validCommanderValues) == 0} and ${fleet.commander} == null"
                     class="form-group">
                    <label for="commander">Commander</label>
                    <select id="commander" th:field="*{commander}">
                        <option th:if="${fleet.commander} != null" th:each="commanderOpt : ${validCommanderValues}"
                                th:value="${commanderOpt.id}"
                                th:text="${commanderOpt.country.name} + ': ' + ${commanderOpt.name}"
                                th:selected="${fleet.commander.id == commanderOpt.id}"></option>
                        <option th:unless="${fleet.commander} != null" th:each="commanderOpt : ${validCommanderValues}"
                                th:value="${commanderOpt.id}"
                                th:text="${commanderOpt.country.name} + ': ' + ${commanderOpt.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select id="country" th:field="*{country}">
                        <option th:if="${fleet.country} != null" th:each="countryOpt : ${validCountryValues}"
                                th:value="${countryOpt.id}" th:text="${countryOpt.name}"
                                th:selected="${fleet.country.id == countryOpt.id}"></option>
                        <option th:unless="${fleet.country} != null" th:each="countryOpt : ${validCountryValues}"
                                th:value="${countryOpt.id}" th:text="${countryOpt.name}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" th:text="${add == false ? 'Update' : 'Submit'}">Submit
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    let commanderOriginalValues;
    $("#fleetForm").submit(function (e) {
        ajaxFormSubmit(e, 'fleetForm');
    });
    $(function() {
        commanderOriginalValues = saveOriginalOptions("#commander");
        $("#commander").empty();
        fillWithOptionsAccordingTo("#commander", "#country", commanderOriginalValues, 'prependWithUnassigned');
    });
    $("#country").change(function() {
        $("#commander").empty();
        fillWithOptionsAccordingTo("#commander", "#country", commanderOriginalValues, 'prependWithUnassigned');
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>