<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Fleets')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Fleet', listUrl = '/fleet')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Fleet')"></div>
        <div class="col">
            <h2><span th:text="${fleet.designation} + ' - Details'"></span></h2>
            <table class="table table-bordered text-center">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Commander</th>
                    <th scope="col">Country</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${fleet}">
                    <td th:text="${fleet.id}"></td>
                    <td th:text="${fleet.designation}"></td>
                    <td>
                        <span th:if="${fleet.commander} == null" class="text-danger">No commander was assigned</span>
                        <a th:unless="${fleet.commander} == null" th:href="@{/officer/{id}(id=${fleet.commander.id})}"
                           th:text="${fleet.commander.name}"></a>
                    </td>
                    <td><a th:href="@{/country/{id}(id=${fleet.country.id})}" th:text="${fleet.country.name}"></a></td>
                    <td class="text-center">
                        <a th:href="@{/fleet/{id}/show-update-form(id=${fleet.id})}" class="btn btn-link"><i
                                class="fa-solid fa-pen-to-square"></i></a></td>
                </tr>
                </tbody>
            </table>
            <h3>Ships</h3>
            <table class="table table-bordered table-hover text-center">
                <thead class="table-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Ship Class</th>
                    <th scope="col">Captain</th>
                    <th scope="col">Country</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="clickable-row" th:data-href="@{/ship/{id}(id=${ship.id})}" th:each="ship: ${fleet.ships}">
                    <td th:text="${ship.id}"></td>
                    <td th:text="${ship.name}"></td>
                    <td>
                        <a th:href="@{/ship-class/{id}(id=${ship.shipClass.id})}"
                           th:text="${ship.shipClass.name}"></a>
                    </td>
                    <td>
                        <span th:if="${ship.captain} == null" class="text-danger">No captain was assigned</span>
                        <a th:unless="${ship.captain} == null" th:href="@{/officer/{id}(id=${ship.captain.id})}"
                           th:text="${ship.captain.name}"></a>
                    </td>
                    <td><a th:href="@{/country/{id}(id=${fleet.country.id})}" th:text="${fleet.country.name}"></a></td>
                    <td>
                        <button th:onclick="'showDialog(\'#dialog-delete\',\'Remove ship from fleet?\',\'/fleet/'+${fleet.id}+'/ship/'+${ship.id}+'\',\'DELETE\');event.stopPropagation();'"
                                class="btn btn-link"><i class="fa fa-trash"></i></button>
                        <a th:unless="${#lists.isEmpty(validShipValues)}" class="btn btn-link"
                           th:href="@{/fleet/{fleetId}/ship/{shipId}/show-update-ship-form(shipId=${ship.id},fleetId=${fleet.id})}"><i
                                class="fa-solid fa-arrow-right-arrow-left"></i></a></td>
                </tr>
                </tbody>
            </table>
            <a th:class="${#lists.isEmpty(validShipValues)} ? 'btn btn-secondary disabled' : 'btn btn-primary'"
               th:href="@{/fleet/{id}/ship/show-add-ship-form(id=${fleet.id})}" role="button"><i
                    class="fa-solid fa-plus"></i>
                Add New Ship</a>
            <span th:if="${#lists.isEmpty(validShipValues)}"
                  class="text-danger"> This country has no available ships to add.</span>
        </div>
    </div>
</div>
<div id="dialog-delete"></div>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>