<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Fleets')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Fleet', listUrl = '/fleet/show-list-page')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Fleet')"></div>
        <div class="col">
            <h2 th:text="${add == false ? 'Choose Another Ship for ' : 'Add New Ship to '} + ${fleet.designation}"></h2>
            <h4 th:if="${#lists.isEmpty(validShipValues)}" class="text-danger">This country has no other available
                ship.</h4>
            <form th:unless="${#lists.isEmpty(validShipValues)}" id="shipInFleetForm" action="#"
                  th:object="${chosenShip}" novalidate>
                <input name="url" type="hidden"
                       th:value="${add} == true ? '/fleet/'+${fleet.id}+'/ship' : '/fleet/'+${fleet.id}+'/ship/'+${chosenShip.id}">
                <input name="add" type="hidden" th:value="${add}">
                <input name="redirectTo" type="hidden" th:value="'/fleet/'+${fleet.id} + '/show-details-page'">
                <div class="form-group">
                    <label for="ship">Choose ship: </label>
                    <select id="ship" th:field="*{id}">
                        <option th:if="${chosenShip.id} != null" th:each="shipOpt : ${validShipValues}"
                                th:value="${shipOpt.id}"
                                th:text="${shipOpt.country.name} + ': '+ ${shipOpt.shipClass.hullClassification.abbreviation} + ' '+ ${shipOpt.name}"
                                th:selected="${chosenShip.id == shipOpt.id}"></option>
                        <option th:unless="${chosenShip.id} != null" th:each="shipOpt : ${validShipValues}"
                                th:value="${shipOpt.id}"
                                th:text="${shipOpt.country.name} + ': '+ ${shipOpt.shipClass.hullClassification.abbreviation} + ' '+ ${shipOpt.name}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" th:text="${add == false ? 'Update' : 'Submit'}">Submit
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    $("#shipInFleetForm").submit(function (e) {
        ajaxFormSubmit(e, '#shipInFleetForm');
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>