<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Fleets')"></div>
<body>

<div th:replace="fragments/menu :: menu (entityName = 'Fleet', listUrl = '/fleet-mvc', createUrl='/fleet-mvc/create')"></div>
<h2 style="font-weight: bold;text-align:center;" th:text="${add == false ? 'Choose Another Ship for ' : 'Add New Ship to '} + ${fleet.designation}"></h2>
<div class="container">
    <h4 th:if="${#lists.isEmpty(validShipValues)}" class="text-danger">This country has no other available ship.</h4>
    <form id="updateShipInFleetForm" action="#" th:unless="${#lists.isEmpty(validShipValues)}" th:action="${add} == true ? @{/fleet-mvc/add-ship/{id}(id=${fleet.id})} : @{/fleet-mvc/update-ship/{fleetId}/ship/{shipId}(shipId=${ship.id},fleetId=${fleet.id})}" th:object="${ship}" method="post" novalidate>
        <input name="add" type="hidden" th:value="${add}">
        <!--<div class="form-group">
          <label for="shipId">Choose a ship: </label>
          <select id="shipId" name="value">
              <option th:if="${shipId.value} != null" th:each="shipOpt : ${validShipValues}"
                      th:value="${shipOpt.id}" th:text="${shipOpt.name}"
                      th:selected="${shipId.value == shipOpt.id}"></option>
              <option th:unless="${shipId.value} != null" th:each="shipOpt : ${validShipValues}"
                      th:value="${shipOpt.id}" th:text="${shipOpt.name}"></option>
          </select>
          <span class="validationError" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></span>-->
          <!--<div class="validationError" th:if="${#fields.detailedErrors('countryValid') != null}" th:each="err : ${#fields.detailedErrors('countryValid')}" th:text="${err.getMessage()}"></div>-->
     <!-- </div>-->
      <div class="form-group">
          <label for="ship">Choose ship: </label>
          <select id="ship" th:field="*{id}">
              <option th:if="${ship.id} != null" th:each="shipOpt : ${validShipValues}"
                      th:value="${shipOpt.id}" th:text="${shipOpt.name}"
                      th:selected="${ship.id == shipOpt.id}"></option>
              <option th:unless="${ship.id} != null" th:each="shipOpt : ${validShipValues}"
                      th:value="${shipOpt.id}" th:text="${shipOpt.name}"></option>
          </select>
          <span class="validationError" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
          <!--<div class="validationError" th:if="${#fields.detailedErrors('countryValid') != null}" th:each="err : ${#fields.detailedErrors('countryValid')}" th:text="${err.getMessage()}"></div>-->
      </div>
      <button type="submit" class="btn btn-primary" th:text="${add == false ? 'Update' : 'Submit'}">Submit</button>
  </form>
</div>
<script>
    $("#updateShipInFleetForm").submit(function(e) {
        ajaxFormSubmit(e, 'updateShipInFleetForm');
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>