<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Guns')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Gun', listUrl = '/gun')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Gun')"></div>
        <div class="col">
            <h2><span th:text="${gun.designation} + ' - Details'"></span></h2>
            <table class="table table-bordered text-center  text-break">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Caliber in millimeters</th>
                    <th scope="col">Projectile weight in kilograms</th>
                    <th scope="col">Range in meters</th>
                    <th scope="col">Minimum ship displacement</th>
                    <th scope="col">Country</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${country}">
                    <td th:text="${gun.id}"></td>
                    <td th:text="${gun.designation}"></td>
                    <td th:text="${gun.caliberInMms}"></td>
                    <td th:text="${gun.projectileWeightInKgs}"></td>
                    <td th:text="${gun.rangeInMeters}"></td>
                    <td th:text="${gun.minimumShipDisplacementInTons}"></td>
                    <td><a th:href="@{/country/{id}(id=${gun.country.id})}" th:text="${gun.country.name}"></a></td>
                    <td class="text-center">
                        <a th:href="@{/gun/{id}/show-update-form(id=${gun.id})}" class="btn btn-link"><i
                                class="fa-solid fa-pen-to-square"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>