<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Guns')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Gun', addUrl = '/gun/show-add-form', listUrl = '/gun')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Gun')"></div>
        <div class="col">
            <h2>List of Guns</h2>
            <table class="table table-bordered table-hover text-center text-break ">
                <thead class="table-dark">
                <tr>
                    <th class="clickable-column-header" scope="col">Id</th>
                    <th class="clickable-column-header" scope="col">Designation</th>
                    <th class="clickable-column-header" scope="col">Caliber in millimeters</th>
                    <th class="clickable-column-header" scope="col">Projectile weight in kilograms</th>
                    <th class="clickable-column-header" scope="col">Range in meters</th>
                    <th class="clickable-column-header" scope="col">Country</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="clickable-row" th:data-href="@{/gun/{id}(id=${gun.id})}" th:each="gun: ${guns}">
                    <td th:text="${gun.id}"></td>
                    <td th:text="${gun.designation}"></td>
                    <td th:text="${gun.caliberInMms}"></td>
                    <td th:text="${gun.projectileWeightInKgs}"></td>
                    <td th:text="${gun.rangeInMeters}"></td>
                    <td><a th:href="@{/country/{id}(id=${gun.country.id})}" th:text="${gun.country.name}"></a></td>
                    <td class="text-center">
                        <button th:onclick="'showDialog(\'#dialog-delete\',\'Delete gun?\',\'/gun/'+${gun.id}+'\',\'DELETE\');event.stopPropagation();'"
                                class="btn btn-link"><i class="fa fa-trash"></i></button>
                        <a th:href="@{/gun/{id}/show-update-form(id=${gun.id})}" class="btn btn-link"><i
                                class="fa-solid fa-pen-to-square"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="dialog-delete"></div>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
        $(".clickable-column-header").click(function(){
            sortByColumn($(this));
        });
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>