<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Main Page')"></div>
<body>
<div th:replace="fragments/menu :: menu"></div>
<h1 style="text-align: center; margin: 2rem;">Welcome to Navy Manager!</h1>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="list-group col-4 ">
            <div class="header-side list-group-item-dark p-3">Choose a Category</div>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/fleet/show-list-page">Fleets</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/ship/show-list-page">Ships</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/ship-class/show-list-page">Ship Classes</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/hull-classification/show-list-page">Hull
                Classifications</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/gun/show-list-page">Guns</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/officer/show-list-page">Officers</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/rank/show-list-page">Ranks</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/country/show-list-page">Countries</a>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>