<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Main Page')"></div>
<body>
<h1 style="text-align: center; margin: 2rem;">Welcome to Navy Manager!</h1>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="list-group col-4 ">
            <div class="header-side list-group-item-dark p-3">Choose a Category</div>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/country">Countries</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/rank">Ranks</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/officer">Officers</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/hull-classification">Hull
                Classifications</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/gun">Guns</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/ship-class">Ship Classes</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/ship">Ships</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/fleet">Fleets</a>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>