<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Officers')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Officer', listUrl = '/officer/show-list-page')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Officer')"></div>
        <div class="col">
            <h2 th:text="${add == false ? 'Update Officer' : 'Add New Officer'}"></h2>
            <form id="officerForm" th:object="${officer}" novalidate>
                <input name="url" type="hidden" th:value="${add} == true ? '/officer/api' : '/officer/api/' + ${officer.id}">
                <input name="add" type="hidden"  th:value="${add}">
                <input id="id" type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>
                <div class="form-group">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="text" class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}">
                </div>
                <div class="form-group">
                    <label for="rank">Rank</label>
                    <select id="rank" th:field="*{rank}">
                        <option th:if="${officer.rank} != null" th:each="rankOpt : ${validRankValues}"
                                th:value="${rankOpt.id}" th:text="${rankOpt.designation}"
                                th:selected="${officer.rank.id == rankOpt.id}"></option>
                        <option th:unless="${officer.rank} != null" th:each="rankOpt : ${validRankValues}"
                                th:value="${rankOpt.id}" th:text="${rankOpt.designation}"></option>
                    </select>
                    </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select id="country" th:field="*{country}">
                        <option th:if="${officer.country} != null" th:each="countryOpt : ${validCountryValues}"
                                th:value="${countryOpt.id}" th:text="${countryOpt.name}"
                                th:selected="${officer.country.id == countryOpt.id}"></option>
                        <option th:unless="${officer.country} != null" th:each="countryOpt : ${validCountryValues}"
                                th:value="${countryOpt.id}" th:text="${countryOpt.name}"></option>
                    </select>
                    </div>
                <button type="submit" class="btn btn-primary" th:text="${add == false ? 'Update' : 'Submit'}">Submit
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    $("#officerForm").submit(function (e) {
        ajaxFormSubmit(e, '#officerForm');
    });
    $( function() {
        $("#dateOfBirth").datepicker(({ dateFormat: 'yy-mm-dd' }));
    } );
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>