<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Officers')"></div>
<body>

<div th:replace="fragments/menu :: menu (entityName = 'Officer', listUrl = '/officer-mvc', createUrl='/officer-mvc/create')"></div>
<h2 style="font-weight: bold;text-align:center;" th:text="${create == false ? 'Update Officer' : 'Create New Officer'}"></h2>
<div class="container">
  <form action="#" th:action="${create} == true ? @{/officer-mvc/create} : @{/officer-mvc/update/{id}(id=${officer.id})}" th:object="${officer}" method="post" novalidate>
    <input type="hidden" id="id" th:field="*{id}">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" th:field="*{name}">
      <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date of Birth <span style="font-weight: lighter">(for example: 1888-08-08)</span></label>
      <input type="text" class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}">
      <span class="validationError" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
      <!--<span class="validationError" th:if="${#fields.hasErrors()}">Errors!</span>
      <div class="validationError"  th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
      <div class="validationError"  th:each="err : ${#fields.allDetailedErrors()}" th:text="${err.getMessage()}"></div>-->

    </div>
    <div class="form-group">
      <label for="rank">Rank</label>
      <select id="rank" name="rank">
        <option th:if="${officer.rank} != null" th:each="rankOpt : ${validRankValues}"
                th:value="${rankOpt.designation}" th:text="${rankOpt.designation}"
                th:selected="${officer.rank.designation == rankOpt.designation}"></option>
        <option th:unless="${officer.rank} != null" th:each="rankOpt : ${validRankValues}"
                th:value="${rankOpt.designation}" th:text="${rankOpt.designation}"></option>
      </select>
      <span class="validationError" th:if="${#fields.hasErrors('rank')}" th:errors="*{rank}"></span>
      <!--<div class="validationError" th:if="${#fields.detailedErrors('rankValid') != null}" th:each="err : ${#fields.detailedErrors('rankValid')}" th:text="${err.getMessage()}"></div>-->
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <select id="country" name="country">
        <option th:if="${officer.country} != null" th:each="countryOpt : ${validCountryValues}"
                th:value="${countryOpt.name}" th:text="${countryOpt.name}"
                th:selected="${officer.country.name == countryOpt.name}"></option>
        <option th:unless="${officer.country} != null" th:each="countryOpt : ${validCountryValues}"
                th:value="${countryOpt.name}" th:text="${countryOpt.name}"></option>
      </select>
      <span class="validationError" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
      <!--<div class="validationError" th:if="${#fields.detailedErrors('countryValid') != null}" th:each="err : ${#fields.detailedErrors('countryValid')}" th:text="${err.getMessage()}"></div>-->
    </div>


    <button type="submit" class="btn btn-primary" th:text="${create == false ? 'Update' : 'Submit'}">Submit</button>
  </form>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>