<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Ranks')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Rank', addUrl = '/rank/show-add-form', listUrl = '/rank/show-list-page')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Rank')"></div>
        <div class="col">
            <h2>List of Ranks</h2>
            <table class="table table-bordered table-hover text-center" id="ranksTable">
                <thead class="table-dark">
                <tr>
                    <th sec:authorize="hasRole('ADMIN')" class="clickable-column-header" scope="col">Id</th>
                    <th class="clickable-column-header" scope="col">Precedence</th>
                    <th class="clickable-column-header" scope="col">Designation</th>
                    <th sec:authorize="hasRole('ADMIN')" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="clickable-row" th:data-href="@{/rank/{id}/show-details-page(id=${rank.id})}" th:each="rank: ${ranks}">
                    <td sec:authorize="hasRole('ADMIN')" th:text="${rank.id}"></td>
                    <td th:text="${rank.precedence}"></td>
                    <td th:text="${rank.designation}"></td>
                    <td sec:authorize="hasRole('ADMIN')" class="text-center">
                        <button th:onclick="'showDialog(\'#dialog-delete\',\'Delete rank?\',\'/rank/api/'+${rank.id}+'\',\'DELETE\');event.stopPropagation();'"
                                class="btn btn-link"><i class="fa fa-trash"></i></button>
                        <a th:href="@{/rank/{id}/show-update-form(id=${rank.id})}" class="btn btn-link"><i
                                class="fa-solid fa-pen-to-square"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="dialog-delete"></div>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
        $(".clickable-column-header").click(function(){
            sortByColumn($(this));
        });
        $("#ranksTable").searchTable();
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>