<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Ranks')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Rank', listUrl = '/rank')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Rank')"></div>
        <div class="col">
            <h2 th:text="${add == false ? 'Update Rank' : 'Add New Rank'}"></h2>
            <form id="rankForm" th:object="${rank}" novalidate>
                <input name="url" type="hidden" th:value="${add} == true ? '/rank' : '/rank/' + ${rank.id}">
                <input name="add" type="hidden"  th:value="${add}">
                <input id="id" type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="precedence">Precedence</label>
                    <input type="text" class="form-control" id="precedence" th:field="*{precedence}">
                </div>
                <div class="form-group">
                    <label for="designation">Designation</label>
                    <input type="text" class="form-control" id="designation" th:field="*{designation}">
                </div>
                <button type="submit" class="btn btn-primary" th:text="${add == false ? 'Update' : 'Submit'}">Submit
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    $("#rankForm").submit(function (e) {
        ajaxFormSubmit(e, 'rankForm');
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>