<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Ranks')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Rank', listUrl = '/rank')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Rank')"></div>
        <div class="col">
            <h2><span th:text="${rank.designation} + ' - Details'"></span></h2>
            <table class="table table-bordered text-center">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Precedence</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${rank}">
                    <td th:text="${rank.id}"></td>
                    <td th:text="${rank.precedence}"></td>
                    <td th:text="${rank.designation}"></td>
                    <td class="text-center">
                        <a th:href="@{/rank/{id}/show-update-form(id=${rank.id})}" class="btn btn-link"><i
                                class="fa-solid fa-pen-to-square"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>