<!DOCTYPE html>
<html lang="en">

<div th:replace="fragments/header :: header (title='Navy Manager - Ranks')"></div>
<body>

<div th:replace="fragments/menu :: menu (entityName = 'Rank', createUrl = '/rank-mvc/create', listUrl = '/rank-mvc')"></div>
<h2 style="font-weight: bold;text-align:center;">List of Ranks</h2>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Designation</th>
            <th scope="col">Precedence</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rank: ${ranks}">
            <td th:text="${rank.precedence}"></td>
            <td th:text="${rank.designation}"></td>
            <td class="text-center">
                <a th:href="@{/rank-mvc/delete/{precedence}(precedence=${rank.precedence})}"><i class="fa fa-trash"></i></a>
                <a th:href="@{/rank-mvc/update/{precedence}(precedence=${rank.precedence})}"><i class="fa-solid fa-pen-to-square"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>