<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Ranks')"></div>
<body>

<div th:replace="fragments/menu :: menu (entityName = 'Rank', listUrl = '/rank-mvc', createUrl='/rank-mvc/create')"></div>
<h2 style="font-weight: bold;text-align:center;" th:text="${create == false ? 'Update Rank' : 'Create New Rank'}"></h2>
<div class="container">

  <form action="#" th:action="${create} == true ? @{/rank-mvc/create} : @{/rank-mvc/update/{id}(id=${rank.id})}" th:object="${rank}" method="post" novalidate>
    <div class="form-group">
      <label for="designation">Designation</label>
      <input type="text" class="form-control" id="designation" th:field="*{designation}">
      <span class="validationError" th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}"></span>
    </div>
    <div class="form-group">
      <label for="precedence">Precedence</label>
      <input type="text" class="form-control" id="precedence" th:field="*{precedence}">
      <span class="validationError" th:if="${#fields.hasErrors('precedence')}" th:errors="*{precedence}"></span>
    </div>
    <!--<div th:if="${create} == false" class="form-group">
      <label for="status">Status</label>
      <select id="status" name="status">
        <option th:each="statusOpt : ${valid_status_values}"
                th:value="${statusOpt}" th:text="${statusOpt}"
                th:selected="${userStory.status == statusOpt}"></option>
      </select>
      <span class="validationError" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
      <div class="validationError" th:if="${#fields.detailedErrors('statusValid') != null}" th:each="err : ${#fields.detailedErrors('statusValid')}" th:text="${err.getMessage()}"></div>
    </div>-->
    <button type="submit" class="btn btn-primary" th:text="${create == false ? 'Update' : 'Submit'}">Submit</button>
  </form>
</div>

</body>
</html>