<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Ship Classes')"></div>
<body>

<div th:replace="fragments/menu :: menu (entityName = 'Ship Class', listUrl = '/ship-class-mvc', createUrl='/ship-class-mvc/create')"></div>
<h2 style="font-weight: bold;text-align:center;" th:text="${add == false ? 'Update Gun for Ship Class' : 'Add New Gun to Ship Class'}"></h2>
<div class="container">
  <form action="#" th:action="${add} == true ? @{/ship-class-mvc/add-gun/{id}(id=${shipClass.id})} : @{/ship-class-mvc/update-gun/{id}(id=${shipClass.id})}" th:object="${gunWithQuantity}" method="post" novalidate>
      <div class="form-group">
          <label for="gun">Gun</label>
          <select id="gun" name="gun">
              <option th:if="${gunWithQuantity.gun} != null" th:each="gunOpt : ${validGunValues}"
                      th:value="${gunOpt.designation}" th:text="${gunOpt.designation}"
                      th:selected="${gunWithQuantity.gun.designation == gunOpt.designation}"></option>
              <option th:unless="${gunWithQuantity.gun} != null" th:each="gunOpt : ${validGunValues}"
                      th:value="${gunOpt.designation}" th:text="${gunOpt.designation}"></option>
          </select>
          <span class="validationError" th:if="${#fields.hasErrors('gun')}" th:errors="*{gun}"></span>
          <!--<div class="validationError" th:if="${#fields.detailedErrors('countryValid') != null}" th:each="err : ${#fields.detailedErrors('countryValid')}" th:text="${err.getMessage()}"></div>-->
      </div>
      <div class="form-group">
          <label for="gunQuantity">Gun Quantity</label>
          <input type="text" class="form-control" id="gunQuantity" th:field="*{gunQuantity}">
          <span class="validationError" th:if="${#fields.hasErrors('gunQuantity')}" th:errors="*{gunQuantity}"></span>
      </div>
      <button type="submit" class="btn btn-primary" th:text="${add == false ? 'Update' : 'Submit'}">Submit</button>
  </form>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>