<!DOCTYPE html>
<html lang="en">

<div th:replace="fragments/header :: header (title='Navy Manager - Ship Classes')"></div>
<body>

<div th:replace="fragments/menu :: menu (current='list', entityName = 'Ship Class', createUrl = '/ship-class-mvc/create', listUrl = '/ship-class-mvc')"></div>
<h2 style="font-weight: bold;text-align:center;">List of Ship Classes</h2>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Displacement in tons</th>
            <th scope="col">Hull classification</th>
            <th scope="col">Belt armor in centimeters</th>
            <th scope="col">Turret armor in centimeters</th>
            <th scope="col">Deck armor in centimeters</th>
            <th scope="col">Speed in km/h</th>
            <th scope="col">Country</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shipClass: ${shipClasses}">
            <td th:text="${shipClass.id}"></td>
            <td th:text="${shipClass.name}"></td>
            <td th:text="${shipClass.displacementInTons}"></td>
            <td th:text="${shipClass.hullClassification}"></td>
            <td th:text="${shipClass.armorBeltInCms}"></td>
            <td th:text="${shipClass.armorTurretInCms}"></td>
            <td th:text="${shipClass.armorDeckInCms}"></td>
            <td th:text="${shipClass.speedInKmh}"></td>
            <td th:text="${shipClass.countryId}"></td>
            <td class="text-center">
                <a th:href="@{/ship-class-mvc/delete/{id}(id=${shipClass.id})}"><i class="fa fa-trash"></i></a>
                <a th:href="@{/ship-class-mvc/update/{id}(id=${shipClass.id})}"><i class="fa-solid fa-pen-to-square"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>