<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Ship Classes')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Ship Class', listUrl = '/ship-class/show-list-page')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Ship Class')"></div>
        <div class="col">
            <h2 th:text="${add == false ? 'Update Ship Class' : 'Add New Ship Class'}"></h2>
            <form id="shipClassForm" th:object="${shipClass}" novalidate>
                <input name="url" type="hidden" th:value="${add} == true ? '/ship-class' : '/ship-class/' + ${shipClass.id}">
                <input name="add" type="hidden" th:value="${add}">
                <input id="id" type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>
                <div class="form-group">
                    <label for="hullClassification">Hull Classification</label>
                    <select id="hullClassification" th:field="*{hullClassification}">
                        <option th:if="${shipClass.hullClassification} != null"
                                th:each="hullClassificationOpt : ${validHullClassificationValues}"
                                th:value="${hullClassificationOpt.id}" th:text="${hullClassificationOpt.designation}"
                                th:selected="${shipClass.hullClassification.id == hullClassificationOpt.id}"></option>
                        <option th:unless="${shipClass.hullClassification} != null"
                                th:each="hullClassificationOpt : ${validHullClassificationValues}"
                                th:value="${hullClassificationOpt.id}"
                                th:text="${hullClassificationOpt.designation}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="displacementInTons">Displacement in tons</label>
                    <input type="text" class="form-control" id="displacementInTons" th:field="*{displacementInTons}">
                </div>
                <div class="form-group">
                    <label for="armorBeltInCms">Belt armor in centimeters</label>
                    <input type="text" class="form-control" id="armorBeltInCms" th:field="*{armorBeltInCms}">
                </div>
                <div class="form-group">
                    <label for="armorTurretInCms">Turret armor in centimeters</label>
                    <input type="text" class="form-control" id="armorTurretInCms" th:field="*{armorTurretInCms}">
                </div>
                <div class="form-group">
                    <label for="armorDeckInCms">Deck armor in centimeters</label>
                    <input type="text" class="form-control" id="armorDeckInCms" th:field="*{armorDeckInCms}">
                </div>
                <div class="form-group">
                    <label for="speedInKmh">Speed in km/h</label>
                    <input type="text" class="form-control" id="speedInKmh" th:field="*{speedInKmh}">
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select id="country" th:field="*{country}">
                        <option th:if="${shipClass.country} != null" th:each="countryOpt : ${validCountryValues}"
                                th:value="${countryOpt.id}" th:text="${countryOpt.name}"
                                th:selected="${shipClass.country.id == countryOpt.id}"></option>
                        <option th:unless="${shipClass.country} != null" th:each="countryOpt : ${validCountryValues}"
                                th:value="${countryOpt.id}" th:text="${countryOpt.name}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" th:text="${add == false ? 'Update' : 'Submit'}">Submit
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    $("#shipClassForm").submit(function (e) {
        ajaxFormSubmit(e, '#shipClassForm');
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>