<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Ships')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Ship', listUrl = '/ship')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Ship')"></div>
        <div class="col">
            <h2 th:text="${add == false ? 'Update Ship' : 'Add New Ship'}"></h2>
            <form id="shipForm" th:object="${ship}" novalidate>
                <input name="url" type="hidden" th:value="${add} == true ? '/ship' : '/ship/' + ${ship.id}">
                <input name="add" type="hidden" th:value="${add}">
                <input id="id" type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label for="shipClass">Ship Class</label>
                    <select id="shipClass" th:field="*{shipClass}">
                        <option th:if="${ship.shipClass} != null" th:each="shipClassOpt : ${validShipClassValues}"
                                th:value="${shipClassOpt.id}"
                                th:text="${shipClassOpt.country.name} + ': ' + ${shipClassOpt.hullClassification.abbreviation} + ' ' + ${shipClassOpt.name}"
                                th:selected="${ship.shipClass.id == shipClassOpt.id}"></option>
                        <option th:unless="${ship.id} != null" th:each="shipClassOpt : ${validShipClassValues}"
                                th:value="${shipClassOpt.id}"
                                th:text="${shipClassOpt.country.name} + ': ' + ${shipClassOpt.hullClassification.abbreviation} + ' ' + ${shipClassOpt.name}"></option>
                    </select>
                </div>
                <div th:if="${#lists.size(validCaptainValues) == 0} and ${ship.captain} == null"
                     th:class="'text-danger'">No assignable officer found.
                </div>
                <div th:unless="${#lists.size(validCaptainValues) == 0} and ${ship.captain} == null"
                     class="form-group">
                    <label for="captain">Captain</label>
                    <select id="captain" th:field="*{captain}">
                        <option th:if="${ship.captain} != null" th:each="captainOpt : ${validCaptainValues}"
                                th:value="${captainOpt.id}"
                                th:text="${captainOpt.country.name} + ': ' + ${captainOpt.name}"
                                th:selected="${ship.captain.id == captainOpt.id}"></option>
                        <option th:unless="${ship.captain} != null" th:each="captainOpt : ${validCaptainValues}"
                                th:value="${captainOpt.id}"
                                th:text="${captainOpt.country.name} + ': ' + ${captainOpt.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select id="country" th:field="*{country}">
                        <option th:if="${ship.country} != null" th:each="countryOpt : ${validCountryValues}"
                                th:value="${countryOpt.id}" th:text="${countryOpt.name}"
                                th:selected="${ship.country.id == countryOpt.id}"></option>
                        <option th:unless="${ship.country} != null" th:each="countryOpt : ${validCountryValues}"
                                th:value="${countryOpt.id}" th:text="${countryOpt.name}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" th:text="${add == false ? 'Update' : 'Submit'}">Submit
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    let shipClassOriginalValues;
    let captainOriginalValues;
    let shipClassOriginallySelectedOptionVal;
    let captainOriginallySelectedOptionVal;
    let countryOriginallySelectedOptionVal
    $("#shipForm").submit(function (e) {
        ajaxFormSubmit(e, 'shipForm');
    });
    $(function() {
        shipClassOriginalValues = saveOriginalOptions("#shipClass");
        captainOriginalValues = saveOriginalOptions("#captain");
        shipClassOriginallySelectedOptionVal = $("#shipClass").find(":selected").val();
        captainOriginallySelectedOptionVal = $("#captain").find(":selected").val();
        $("#shipClass").empty();
        fillSelectWithOptionsAccordingToFilterer("#shipClass", "#country", shipClassOriginalValues, shipClassOriginallySelectedOptionVal);
        $("#captain").empty();
        fillSelectWithOptionsAccordingToFilterer("#captain", "#country", captainOriginalValues, captainOriginallySelectedOptionVal ,'prependWithUnassigned');
    });
   $("#country").change(function() {
        $("#shipClass").empty();
        fillSelectWithOptionsAccordingToFilterer("#shipClass", "#country", shipClassOriginalValues, shipClassOriginallySelectedOptionVal);
        $("#captain").empty();
        fillSelectWithOptionsAccordingToFilterer("#captain", "#country", captainOriginalValues, captainOriginallySelectedOptionVal, 'prependWithUnassigned');
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>