<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Ships')"></div>
<body>

<div th:replace="fragments/menu :: menu (entityName = 'Ship', listUrl = '/ship-mvc', createUrl='/ship-mvc/create')"></div>
<h2 style="font-weight: bold;text-align:center;" th:text="${create == false ? 'Update Ship' : 'Create New Ship'}"></h2>
<div class="container">
  <form action="#" th:action="${create} == true ? @{/ship-mvc/create} : @{/ship-mvc/update/{id}(id=${ship.id})}" th:object="${ship}" method="post" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" th:field="*{name}">
      <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div class="form-group">
      <label for="shipClass">Ship Class</label>
      <select id="shipClass" name="shipClass">
        <option th:if="${ship.shipClass} != null" th:each="shipClassOpt : ${validShipClassValues}"
                th:value="${shipClassOpt.name}" th:text="${shipClassOpt.name}"
                th:selected="${ship.shipClass.name == shipClassOpt.name}"></option>
        <option th:unless="${ship.shipClass} != null" th:each="shipClassOpt : ${validShipClassValues}"
                th:value="${shipClassOpt.name}" th:text="${shipClassOpt.name}"></option>
      </select>
      <span class="validationError" th:if="${#fields.hasErrors('shipClass')}" th:errors="*{shipClass}"></span>
      <!--<div class="validationError" th:if="${#fields.detailedErrors('rankValid') != null}" th:each="err : ${#fields.detailedErrors('rankValid')}" th:text="${err.getMessage()}"></div>-->
    </div>
    <div class="form-group">
      <label for="captain">Captain</label>
      <select id="captain" name="captain">
        <option th:if="${ship.captain} != null" th:each="captainOpt : ${validCaptainValues}"
                th:value="${captainOpt.name}" th:text="${captainOpt.name}"
                th:selected="${ship.captain.name == captainOpt.name}"></option>
        <option th:unless="${ship.captain} != null" th:each="captainOpt : ${validCaptainValues}"
                th:value="${captainOpt.name}" th:text="${captainOpt.name}"></option>
      </select>
      <span class="validationError" th:if="${#fields.hasErrors('captain')}" th:errors="*{captain}"></span>
      <!--<div class="validationError" th:if="${#fields.detailedErrors('rankValid') != null}" th:each="err : ${#fields.detailedErrors('rankValid')}" th:text="${err.getMessage()}"></div>-->
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <select id="country" name="country">
        <option th:if="${ship.country} != null" th:each="countryOpt : ${validCountryValues}"
                th:value="${countryOpt.name}" th:text="${countryOpt.name}"
                th:selected="${ship.country.name == countryOpt.name}"></option>
        <option th:unless="${ship.country} != null" th:each="countryOpt : ${validCountryValues}"
                th:value="${countryOpt.name}" th:text="${countryOpt.name}"></option>
      </select>
      <span class="validationError" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
      <!--<div class="validationError" th:if="${#fields.detailedErrors('countryValid') != null}" th:each="err : ${#fields.detailedErrors('countryValid')}" th:text="${err.getMessage()}"></div>-->
    </div>
    <!--<div th:if="${create} == false" class="form-group">
      <label for="status">Status</label>
      <select id="status" name="status">
        <option th:each="statusOpt : ${valid_status_values}"
                th:value="${statusOpt}" th:text="${statusOpt}"
                th:selected="${userStory.status == statusOpt}"></option>
      </select>
      <span class="validationError" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
      <div class="validationError" th:if="${#fields.detailedErrors('statusValid') != null}" th:each="err : ${#fields.detailedErrors('statusValid')}" th:text="${err.getMessage()}"></div>
    </div>-->
    <button type="submit" class="btn btn-primary" th:text="${create == false ? 'Update' : 'Submit'}">Submit</button>
  </form>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>