<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Ship Classes')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Ship Class', listUrl = '/ship-class/show-list-page')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Ship Class')"></div>
        <div class="col">
            <h2><span th:text="${shipClass.name} + ' Class - Details'"></span></h2>
            <table class="table table-bordered text-center  text-break">
                <thead class="table-dark">
                <tr>
                    <th sec:authorize="hasRole('ADMIN')" scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Displacement</th>
                    <th scope="col">Hull classification</th>
                    <th scope="col">Belt armor</th>
                    <th scope="col">Turret armor</th>
                    <th scope="col">Deck armor</th>
                    <th scope="col">Speed</th>
                    <th scope="col">Country</th>
                    <th sec:authorize="hasRole('ADMIN')" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${shipClass}">
                    <td sec:authorize="hasRole('ADMIN')" th:text="${shipClass.id}"></td>
                    <td th:text="${shipClass.name}"></td>
                    <td th:text="${shipClass.displacementInTons} + ' t'"></td>
                    <td><a th:href="@{/hull-classification/{id}/show-details-page(id=${shipClass.hullClassification.id})}"
                           th:text="${shipClass.hullClassification.designation}"></a></td>
                    <td th:text="${shipClass.armorBeltInCms} + ' cm'"></td>
                    <td th:text="${shipClass.armorTurretInCms} + ' cm'"></td>
                    <td th:text="${shipClass.armorDeckInCms} + ' cm'"></td>
                    <td th:text="${shipClass.speedInKmh} + ' km/h'"></td>
                    <td><a th:href="@{/country/{id}/show-details-page(id=${shipClass.country.id})}"
                           th:text="${shipClass.country.name}"></a></td>
                    <td sec:authorize="hasRole('ADMIN')" >
                        <a th:href="@{/ship-class/{id}/show-update-form(id=${shipClass.id})}" class="btn btn-link"><i
                                class="fa-solid fa-pen-to-square"></i></a></td>
                </tr>
                </tbody>
            </table>
            <h3>Guns</h3>
            <table class="table table-bordered table-hover text-center" id="gunsTable">
                <thead class="table-light">
                <tr>
                    <th sec:authorize="hasRole('ADMIN')" class="clickable-column-header" scope="col">Id</th>
                    <th class="clickable-column-header" scope="col">Designation</th>
                    <th class="clickable-column-header" scope="col">Caliber</th>
                    <th class="clickable-column-header" scope="col">Projectile weight</th>
                    <th class="clickable-column-header" scope="col">Range</th>
                    <th class="clickable-column-header" scope="col">Number of guns</th>
                    <th sec:authorize="hasRole('ADMIN')" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="clickable-row" th:data-href="@{/gun/{id}/show-details-page(id=${gunInstallation.gun.id})}" th:each="gunInstallation: ${shipClass.guns}">
                    <td sec:authorize="hasRole('ADMIN')" th:text="${gunInstallation.gun.id}"></td>
                    <td th:text="${gunInstallation.gun.designation}"></td>
                    <td th:text="${gunInstallation.gun.caliberInMms + ' mm'}"></td>
                    <td th:text="${gunInstallation.gun.projectileWeightInKgs + ' kg'}"></td>
                    <td th:text="${gunInstallation.gun.rangeInMeters} + ' m'"></td>
                    <td th:text="${gunInstallation.quantity}"></td>
                    <td sec:authorize="hasRole('ADMIN')" class="text-center">
                        <button th:onclick="'showDialog(\'#dialog-delete\',\'Remove gun from ship class?\',\'/ship-class/'+${shipClass.id}+'/gun/'+${gunInstallation.gun.id}+'\',\'DELETE\');event.stopPropagation();'"
                                class="btn btn-link"><i class="fa fa-trash"></i></button>
                        <a th:unless="${#lists.isEmpty(validGunValues)}" class="btn btn-link"
                           th:href="@{/ship-class/{shipClassId}/gun/{gunId}/show-update-gun-form(gunId=${gunInstallation.gun.id},shipClassId=${shipClass.id})}"><i
                                class="fa-solid fa-arrow-right-arrow-left"></i></a></td>
                </tr>
                </tbody>
            </table>
            <a sec:authorize="hasRole('ADMIN')" th:class="${#lists.isEmpty(validGunValues)} ? 'btn btn-secondary disabled' : 'btn btn-primary'"
               th:href="@{/ship-class/{id}/gun/show-add-gun-form(id=${shipClass.id})}" role="button"><i
                    class="fa-solid fa-plus"></i> Add New Gun</a>
            <span sec:authorize="hasRole('ADMIN')" th:if="${#lists.isEmpty(validGunValues)}" class="text-danger"> This country has no available guns to add.</span>
        </div>
    </div>
</div>
<div id="dialog-delete"></div>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
        $(".clickable-column-header").click(function(){
            sortByColumn($(this));
        });
        $("#gunsTable").searchTable();
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>