<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Ship Classes')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Ship Class', listUrl = '/ship-class')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Ship Class')"></div>
        <div class="col">
            <h2 th:text="${add == false ? 'Update Gun for ' : 'Add New Gun to '} + ${shipClass.name} + ' Class'"></h2>
            <h4 th:if="${#lists.isEmpty(validGunValues)}" class="text-danger">This country has no other available
                gun.</h4>
            <form th:unless="${#lists.isEmpty(validGunValues)}" id="gunInstallationForm" action="#" th:object="${gunInstallation}" novalidate>
                <input name="url" type="hidden"
                       th:value="${add} == true ? '/ship-class/'+${shipClass.id}+'/gun' : '/ship-class/'+${shipClass.id}+'/gun/'+${gunInstallation.gun.id}">
                <input name="add" type="hidden" th:value="${add}">
                <input name="redirectTo" type="hidden" th:value="'/ship-class/'+${shipClass.id}">

                <div class="form-group">
                    <label for="gun">Gun</label>
                    <select id="gun" th:field="*{gun}">
                        <option th:if="${gunInstallation.gun} != null" th:each="gunOpt : ${validGunValues}"
                                th:value="${gunOpt.id}" th:text="${gunOpt.designation}"
                                th:selected="${gunInstallation.gun.id == gunOpt.id}"></option>
                        <option th:unless="${gunInstallation.gun} != null" th:each="gunOpt : ${validGunValues}"
                                th:value="${gunOpt.id}" th:text="${gunOpt.designation}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantity">Gun Quantity</label>
                    <input type="text" class="form-control" id="quantity" th:field="*{quantity}">
                </div>
                <button type="submit" class="btn btn-primary" th:text="${add == false ? 'Update' : 'Submit'}">Submit
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    $("#gunInstallationForm").submit(function (e) {
        ajaxFormSubmit(e, 'gunInstallationForm');
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>