<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<div th:replace="fragments/header :: header (title='Navy Manager - Ships')"></div>
<body>
<div th:replace="fragments/menu :: menu (entityName = 'Ship', addUrl = '/ship/show-add-form', listUrl = '/ship')"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar (active = 'Ship')"></div>
        <div class="col">
            <h2>List of Ships</h2>
            <table class="table table-bordered table-hover text-center">
                <thead class="table-dark">
                <tr>
                    <th sec:authorize="hasRole('ADMIN')" class="clickable-column-header" scope="col">Id</th>
                    <th class="clickable-column-header" scope="col">Name</th>
                    <th class="clickable-column-header" scope="col">Ship Class</th>
                    <th class="clickable-column-header" scope="col">Captain</th>
                    <th class="clickable-column-header" scope="col">Country</th>
                    <th sec:authorize="hasRole('ADMIN')" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="clickable-row" th:data-href="@{/ship/{id}(id=${ship.id})}" th:each="ship: ${ships}">
                    <td sec:authorize="hasRole('ADMIN')" th:text="${ship.id}"></td>
                    <td th:text="${ship.name}"></td>
                    <td>
                        <a th:href="@{/ship-class/{id}(id=${ship.shipClass.id})}"
                           th:text="${ship.shipClass.name}"></a>
                    </td>
                    <td>
                        <span th:if="${ship.captain} == null" class="text-danger">No commander was assigned</span>
                        <a th:unless="${ship.captain} == null" th:href="@{/officer/{id}(id=${ship.captain.id})}"
                           th:text="${ship.captain.name}"></a>
                    </td>
                    <td><a th:href="@{/country/{id}(id=${ship.country.id})}" th:text="${ship.country.name}"></a></td>
                    <td sec:authorize="hasRole('ADMIN')" class="text-center">
                        <button th:onclick="'showDialog(\'#dialog-delete\',\'Delete ship?\',\'/ship/'+${ship.id}+'\',\'DELETE\');event.stopPropagation();'"
                                class="btn btn-link"><i class="fa fa-trash"></i></button>
                        <a th:href="@{/ship/{id}/show-update-form(id=${ship.id})}" class="btn btn-link"><i
                                class="fa-solid fa-pen-to-square"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="dialog-delete"></div>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
        $(".clickable-column-header").click(function(){
            sortByColumn($(this));
        });
    });
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>